a{
  margin: 10px 8px 10px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Lovers Quarrel', cursive;
  font-weight: lighter;
  font-size: 5.625rem;
  font-style: italic;
  margin-top: 2.5rem;
  margin-bottom: 0;
  color: #66BFBF;
}
h2{
  font-size: 1.6rem;
  color: #66BFBF;
}
h3{
  font-size: 110%;
  color: #11999E;
}
hr{
  border: dotted #9E9E9E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 1.6;
}
/************************** CONTAINERS ********************************/
.top-container{
  background-color: #EAF9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  margin: 80px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 10px;
}
/********************* CLASS SELECTORS **************************/
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.Button {
	-moz-box-shadow: 0 1px 4px 0 #003b0b;
	-webkit-box-shadow: 0 1px 4px 0 #003b0b;
	box-shadow: 0 1px 4px 0 #003b0b;
	background-color:#16ccc9;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
height:38px;
	line-height:38px;
width:154px;
	text-decoration:none;
	text-align:center;
  margin-top: 10px;
}.Button:hover {
	background-color: #30e3ca;
  color: #f5f5f5;
}.Button:active {
	position:relative;
	top:1px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.85rem;
  padding: 20px 0;
}
.css{
  height: 18%;
  width: 18%;
  float: right;
}
.footer-link{
  font-size: 1.25rem;
}
.html{
  height: 18%;
  width: 18%;
  float: left;
}
.html-skill-row{
  width: 50%;
  margin: 5% auto 7%;
}
.intro{
  font-size: 100%;
  width: 23.5%;
  margin: auto;
}
.pro{
  height: 25%;
  width: 13%;
  border-radius: 25%;
}
.pro:hover{
  border-style: inset;
}
.skills{
  margin: 5% 1% 5% 1%;
}
.skill-row{
  width: 50%;
  margin: 3% auto 7%;
}
.tagline{
  font-size: 90%;
  margin-top: 0;
  color: #66BFBF;
  font-weight: normal;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}







/****************** Mobile Devices *******************/

@media screen and (max-width:360px) {
        a{
          margin: 10px 8px 10px;
          color: #11999E;
          font-family: 'Montserrat', sans-serif;
          text-decoration: none;
        }
        a:hover{
          color: #EAF6F6;
        }
        body{
          color: #40514E;
          margin: 0;
          text-align: center;
          font-family: 'Merriweather', serif;
        }
        h1{
          font-size: 2.4rem;
          margin-top: 4%;
          margin-bottom: 0;
          color: #05a7a0;
        }
        h2{
          font-size: 1rem;
          color: #05a7a0;
        }
        h3{
          font-size: 80%;
          color: #11999E;
          position: relative;
          right: 16px;
          bottom: 3px;
          padding-top: 4%;

        }
        hr{
          border-style: dotted;
          border-color: #9E9E9E;
          border-width: 3.2px;
          border-bottom: none;
          width: 4%;
          margin: 14% auto;
        }
        p{
          font-family: 'Montserrat', sans-serif;
          font-size: 0.7rem;        }
        /************************** CONTAINERS ********************************/
        .top-container{
          background-color: #ebf5f3;
          padding-top: 50px;
          position: relative;
        }

        .middle-container{
          margin: 6% auto;
        }
        .bottom-container{
          background-color: #66BFBF;
          padding: 8px 0 1px;
        }
        /********************* CLASS SELECTORS **************************/
        .bottom-cloud{
          left: 9%;
          width: 14%;
          bottom: 50%;
        }
        .Button {
        	-moz-box-shadow: 0 1px 4px 0 #003b0b;
        	-webkit-box-shadow: 0 1px 4px 0 #003b0b;
        	box-shadow: 0 1px 4px 0 #003b0b;
        	background-color:#16ccc9;
        	-webkit-border-top-left-radius:8px;
        	-moz-border-radius-topleft:8px;
        	border-top-left-radius:5px;
        	-webkit-border-top-right-radius:8px;
        	-moz-border-radius-topright:8px;
        	border-top-right-radius:5px;
        	-webkit-border-bottom-right-radius:8px;
        	-moz-border-radius-bottomright:8px;
        	border-bottom-right-radius:5px;
        	-webkit-border-bottom-left-radius:8px;
        	-moz-border-radius-bottomleft:8px;
        	border-bottom-left-radius:5px;
        text-indent:0;
        	display:inline-block;
        	color:#ffffff;
        	font-family: 'Montserrat', sans-serif;
        	font-size:11px;
        	font-weight:bold;
        	font-style:normal;
        height:22px;
        	line-height:24px;
        width:93px;
        	text-decoration:none;
        	text-align:center;
          margin-top: 10px;
        }.Button:hover {
        	background-color: #30e3ca;
          color: #f5f5f5;
        }.Button:active {
        	position:relative;
        	top:1px;
        }
        .copyright{
          color: #EAF6F6;
          font-size: 0.45rem;
          padding: 5px 0 3px;
        }
        .css{
          width: 23%;
          float: right;
          margin-top: 17%;
          position: relative;
          left: 2%;
        }
        .css-header{
          position: relative;
          left: 3%;
        }
        .footer-link{
          font-size: 0.65rem;
        }
        .html{
          width: 21%;
          float: left;
          margin-top: 14%;
          margin-right: 1%;
        }
        .html-skill-row{
          width: 89%;
          margin: 8% auto 7%;
          border: solid 5px #24d5cd63;
          border-radius: 4%;
          padding: 2% 4% 7%;
          background-color: #f5f0e599;
        }
        .intro{
          font-size: 0.7rem;
          width: 75%;
          margin: auto;
        }
        .pro{
          height: 127px;
          width: 23%;
          border-radius: 28%;
        }
        .pro:hover{
          border-style: inset;
        }
        .skills{
          margin: 5% 1% 5% 1%;
        }
        .skill-row{
          width: 89%;
          margin: 3% auto 3%;
          border: solid 5px #24d5cd63;
          border-radius: 4%;
          padding: 4% 4% 7%;
          background-color: #f5f0e599;
        }
        .tagline{
          font-size: 50%;
          margin-top: 0;
          color: #66BFBF;
          font-weight: normal;
        }
        .top-cloud{
          width: 14%;
          right: 12%;
          top: 12%;
        }
        .mountain-img{
          width: 60%;
          padding-top: 10%;
        }

      }
